{% load i18n %}
<div class="card">
    <div class="card-header">
        <div class="card-header-title" contenteditable data-id="{{ item.id }}" data-url="{% url 'core:rename' 'folder' %}">{{ item.name }}</div>
    </div>
    <div class="card-content has-tooltip-arrow has-tooltip-{% if item.public %}danger{% else %}success{% endif %}" data-tooltip="{% if item.public %}{% translate 'Public' %}{% else %}{% translate 'Private' %}{% endif %}">
        <a href="{% url 'core:folder' item.id %}">
            <div class="icon-text has-text-info">
                <span class="icon is-medium">
                    <i class="las la-{% if item.public %}qrcode{% else %}folder{% endif %} la-2x"></i>
                </span>
                <span>{{ item.created|date:"SHORT_DATE_FORMAT" }}</span>
            </div>
        </a>
    </div>
    <div class="card-footer">
        {% if user == item.owner %}
        <a href="#" class="card-footer-item has-tooltip-arrow" id="folder_{{ item.id }}" onclick="change_state('{{ item.id }}');"
         data-url="{% url 'core:change_folder_state' item.id item.public|yesno:"private,public" %}"
         data-tooltip="{% if item.public %}{% translate 'make private' %}{% else %}{% translate 'make public' %}{% endif %}">
            {% if item.public %}
            <i class="las la-user-lock"></i>
            {% else %}
            <i class="las la-globe"></i>
            {% endif %}
        </a>
        <a href="#" onclick="delete_item('{% url 'core:delete_folder' item.id %}');" class="card-footer-item has-text-danger has-tooltip-arrow has-tooltip-danger" data-tooltip="{% translate 'Delete Folder' %}">
            <i class="las la-trash la-lg"></i>
        </a>
        {% else %}
        <a href="#" class="card-footer-item">
            <div class="icon-text">
                <span class="icon">
                    <i class="las la-user"></i>
                </span>
                <span>{{ item.owner }}</span>
            </div>
        </a>
        {% endif %}
    </div>
</div>
