{% extends 'core/base.html' %}{% load i18n %}

{% block nav_start %}
{% if user.is_authenticated %}{% include 'core/nav.inc.html' %}{% endif %}
{% endblock %}

{% block body %}{% translate "File" as tr_file %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-fifths">
                <div class="content">
                <h3>{{ file.name|default:tr_file }} ({{ file.get_type_display }})</h3>
                    <dl>
                        <dt>{% translate 'Folder' %}</dt>
                        <dd>{% if file.folder %}{{ file.folder.name }} ({% translate 'Public' %}: {{ file.folder.public|yesno }}){% else %}-{% endif %}</dd>
                        <dt>{% translate 'Created' %}</dt>
                        <dd>{{ file.created|date:"SHORT_DATETIME_FORMAT" }}</dd>
                        {% if user != file.owner %}
                        <dt>{% translate 'Owner' %}</dt>
                        <dd>{{ file.owner }}</dd>
                        {% endif %}
                    </dl>
                    <h4>{% translate 'Downloads' %}</h4>
                    <ul>
                        <li>
                            <a href="{% url 'core:download' file.id file.type %}">{% translate 'As Image (.png)' %}</a>
                        </li>
                        {% if file.has_molecules %}
                        <li>
                            <a href="{% url 'core:download' file.id 'sdf' %}">{% translate 'As Structure Data File (.sdf)' %}</a>
                        </li>
                        {% for mol in file.molecules.all %}
                        <li>
                            <a href="{% url 'core:download_mol' mol.id %}">{% translate 'As MDL-Molfile (.mol)' %} [{{ mol.name|default:forloop.counter }}]</a>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                    {% if share %}
                    <h4>{% translate 'Direct Share' %}</h4>
                    <figure class="image is-128x128">
                        <a href="{% url 'core:shared_file' share.hash %}">
                            <img src="{% url 'core:file_qr' share.id %}">
                        </a>
                    </figure>
                    {% endif %}
                    {% if not shared %}
                    <a class="button is-link" href="{% if file.folder %}{% url 'core:folder' file.folder.id %}{% else %}{% url 'core:index' %}{% endif %}">
                        {% translate 'Back' %}
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="column">
                <figure class="image is-3by2">
                    <a href="{{ file.content.url }}">
                        <img src="{{ file.content.url }}" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    </a>
                </figure>
            </div>
        </div>
    </div>
</section>
{% endblock %}
