{% extends 'core/base.html' %}{% load i18n static %}

{% block nav_start %}
{% include 'core/nav.inc.html' %}
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        {% include 'core/breadcrumbs.inc.html' %}
        <div class="tabs is-boxed">
            <ul>
                <li class="tb-tab is-active">
                    <a id="tab-folders" onclick="switch_tab();">
                        <span class="icon is-small"><i class="las la-folder"></i></span>
                        <span>{% translate 'Folders' %}</span>
                    </a>
                </li>
                <li class="tb-tab">
                    <a id="tab-files" onclick="switch_tab();">
                        <span class="icon is-small"><i class="las la-file"></i></span>
                        <span>{% translate 'Files' %}</span>
                    </a>
                </li>
            </ul>
        </div>
    	<div class="columns is-multiline" id="folders">
            {% for item in folders %}
            <div class="column is-2">
                {% include 'core/card_folder.inc.html' %}
            </div>
            {% endfor %}
        </div>
        <div class="columns is-multiline is-hidden" id="files">
            {% for item in files %}
            <div class="column is-2">
                {% include 'core/card_file.inc.html' %}
            </div>
            {% endfor %}
    	</div>
    </div>
</section>
{% if folder.public %}
<section class="section">
    <div class="container">
        <p>{% translate 'Quick Link' %}</p>
        <figure class="image is-128x128">
            <a href="{% url 'core:folder' folder.id %}">
                <img src="{% url 'core:folder_qr' folder.id %}">
            </a>
        </figure>
    </div>
</section>
{% endif %}
{% endblock %}
