{% load i18n %}
<a href="#" id="btn-add-folder" data-url="{% url 'core:add_folder' %}" class="navbar-item">
    <div class="icon-text">
        <span class="icon">
            <i class="las la-folder-plus la-lg"></i>
        </span>
        <span>{% translate 'Add Folder' %}</span>
    </div>
</a>
<a href="{% url 'core:whiteboard' %}" id="btn-new-whiteboard" class="navbar-item">
    <div class="icon-text">
        <span class="icon">
            <i class="las la-chalkboard la-lg"></i>
        </span>
        <span>{% translate 'Whiteboard' %}</span>
    </div>
</a>
<a href="#" id="btn-new-chem" class="navbar-item">
    <div class="icon-text">
        <span class="icon">
            <i class="las la-atom la-lg"></i>
        </span>
        <span>{% translate 'Molecules' %}</span>
    </div>
</a>
<a href="#" id="btn-new-text" class="navbar-item">
    <div class="icon-text">
        <span class="icon">
            <i class="las la-edit la-lg"></i>
        </span>
        <span>{% translate 'Texteditor' %}</span>
    </div>
</a>
{% if user.is_superuser %}
<a href="{% url 'admin:index' %}" class="navbar-item">
    <div class="icon-text">
        <span class="icon">
            <i class="las la-cog la-lg"></i>
        </span>
        <span>{% translate 'Backend' %}</span>
    </div>
</a>
{% endif %}
