{% extends 'core/base.html' %}{% load i18n static %}

{% block nav_start %}{% include 'core/nav.inc.html' %}{% endblock %}

{% block body %}
<section class="section" id="whiteboard" data-url="{% url 'core:save_whiteboard' %}">
    <div class="container">
        <a class="button is-primary" href="{% if folder %}{% url 'core:folder' folder.id %}{% else %}{% url 'core:index' %}{% endif %}">
            {% translate 'Back' %}
        </a>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="{% static 'ext/painterro/painterro-1.2.12.min.js' %}"></script>
<script>
    var paint = Painterro({
        language: '{{ js_language }}',
        defaultTool: 'brush',
        initText: '{% translate "Note: The Whiteboard will close on save!" %}',
        extraFonts: ['Roboto'],
        saveHandler: save_whiteboard
    });
    paint.show();
</script>
{% endblock %}
